section{
  padding: 20px;
}
.hero-container{
  display: flex;
  flex-direction: column;
}



.hero-photo{
  
  max-width: 400px;
  align-self: center;
}

.hero-title{
  
  font-weight: 600;
  font-size: 36px;
  line-height: 110%;
  margin-top: 32px;
}

.hero-subtitle{
  font-weight: 300;
  font-size: 16px;
  line-height: 110%;
  margin-top: 16px;
}

.card{
  display: flex;
  flex-direction: column;
  font-weight: 300;
  font-size: 12px;
  line-height: 110%;
  width: 175px;
}
.card-img{
  width: 100%;
  border-radius: 9px;
}

.card-review{
  color: #918E9B;
}

.card-price{
  font-weight: 600;
}
